@import './basics.scss';

@font-face{
  font-family: "Continental Stag";
  src: url("../fonts/ContinentalStagSans-Light.otf") format("truetype"),
      url("../fonts/ContinentalStagSans-Med.otf") format("truetype")
}

$font: "Continental Stag";

.bienvenue {
  text-align: center;
}

.presentation {
  text-align: center;
  font-family: $font;
}
