@import './basics.scss';

@font-face{
  font-family: "Continental Stag";
  src: url("../fonts/ContinentalStagSans-Light.otf") format("truetype"),
      url("../fonts/ContinentalStagSans-Med.otf") format("truetype")
}

$font: "Continental Stag";

#welcome {
  text-align: center;
}

#presentation {
  text-align: center;
}

#news{
  #missions{
    #icon{
      color: white;
    }
  }
}
