@import './basics.scss';

@font-face{
  font-family: "Continental Stag";
  src: url("../fonts/ContinentalStagSans-Light.otf") format("truetype"),
      url("../fonts/ContinentalStagSans-Med.otf") format("truetype")
}

$font: "Continental Stag";

#accueil{
  margin-top: 200px;
  margin-bottom: 150px;

  .bienvenue {
    font-family: "Continental Stag";
    font-size: 3rem;
  }
  
  #welcome {
    text-align: center;
  }
  
  #presentation {
    text-align: center;
  }
  
  #news{
    #missions{
      .icon{
        color: white;
      }
    }
  }
}

