// Variables couleurs
$orange: #F5A214;
$darkGrey: #747474;
$grey: #CDCDCD;
$lightGrey: #F0F0F0;
$white: #FFFFFF;
$black: #000000;

@font-face {
  font-family: "Continental Stag";
  src: url("../fonts/ContinentalStagSans-Light.otf") format("otf"),
        url("../fonts/ContinentalStagSans-Med.otf") format("otf");
}

 $font: "Continental Stag"; 

