@import 'basics.scss';

#initiative-item{
  a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    &:hover{
      color: $lightGrey;
      transition: 0.2s ease-in-out;
     
    }
  }
}

@media (min-width: 1048px) and (max-width: 1139px) {
  .icon {
    font-size: 0.85em;
  }
}
@media (min-width: 992px) and (max-width: 1047px) {
  .icon {
    font-size: 0.75em;
  }
}