@import './basics.scss';

@font-face {
  font-family: "Continental Stag";
  src: url("../fonts/ContinentalStagSans-Light.otf") format("otf"),
        url("../fonts/ContinentalStagSans-Med.otf") format("otf");
}

 $font: "Continental Stag"; 

.navigation {
  background-color: $black;
  .logo-continental{
    max-height: 80px;
    background: $orange;
  }
}

.connexion {
  background-color: $orange;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/menu.png");
}
.navbar-nav {
  background-color: black;
}

.nav-item .btn-group {
  height: calc(100% - 2px);
}

@media screen and(max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end!important;
  }
}
a.dropdown-item {
  padding: 10px;
  transition: ease-in-out 0.2s;
  background-color: #CDCDCD;
  &.dark {
    background-color: #747474;
  }
  &:hover{
      cursor: pointer;
      background-color: #ffa100;
      transition: ease-in-out 0.2s;
  }
}