@import './basics.scss';

@font-face {
    font-family: "Continental Stag";
    src: url("../fonts/ContinentalStagSans-Light.otf") format("otf"),
          url("../fonts/ContinentalStagSans-Med.otf") format("otf");
}
  
$font: "Continental Stag"; 

#single-project{
    margin-top: 150px;
    margin-bottom: 150px;
    #project-infos{
        max-width: 90%;
    }
}
